<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <log4net>

    <appender name="PaymentIntegratorAppender" type="log4net.Appender.RollingFileAppender" >
      <file value="C:\\LOGS\\SANAL_POS\\PaymentIntegrator.log" />
      <encoding value="utf-8" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="5MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level [%thread] - %message%n" />
      </layout>
    </appender>
    <logger name="PaymentIntegrator">
      <level value="DEBUG" />
      <appender-ref ref="PaymentIntegratorAppender" />
    </logger>

    <appender name="PaymentManagerAppender" type="log4net.Appender.RollingFileAppender" >
      <file value="C:\\LOGS\\SANAL_POS\\PaymentManager.log" />
      <encoding value="utf-8" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="5MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level [%thread] - %message%n" />
      </layout>
    </appender>
    <logger name="PaymentManager">
      <level value="DEBUG" />
      <appender-ref ref="PaymentManagerAppender" />
    </logger>

    <root>
      <level value="INFO" />
      <appender-ref ref="PaymentIntegrator.UI" />
    </root>
  </log4net>

</configuration>
